[submodule "imgui"]
	path = src/lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "glfw"]
	path = src/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "SQLiteCpp"]
	path = src/lib/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "src/lib/IconFontCppHeaders"]
	path = src/lib/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "src/lib/Catch2"]
	path = src/lib/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
[submodule "src/lib/libzip"]
	path = src/lib/libzip
	url = https://github.com/nih-at/libzip
[submodule "src/lib/spdlog"]
	path = src/lib/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/lib/glm"]
	path = src/lib/glm
	url = https://github.com/g-truc/glm
[submodule "src/lib/tinyfiledialogs"]
	path = src/lib/tinyfiledialogs
	url = https://git.code.sf.net/p/tinyfiledialogs/code
[submodule "src/lib/rapidjson"]
	path = src/lib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/lib/stb"]
	path = src/lib/stb
	url = https://github.com/nothings/stb.git
[submodule "src/lib/curl"]
	path = src/lib/curl
	url = https://github.com/curl/curl.git
[submodule "src/lib/cpuinfo"]
	path = src/lib/cpuinfo
	url = https://github.com/pytorch/cpuinfo
[submodule "src/lib/magic_enum"]
	path = src/lib/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "src/lib/fast_float"]
	path = src/lib/fast_float
	url = https://github.com/fastfloat/fast_float.git
[submodule "src/lib/palenteer"]
	path = src/lib/palanteer
	url = https://github.com/dfeneyrou/palanteer.git
[submodule "src/lib/earcut.hpp"]
	path = src/lib/earcut.hpp
	url = https://github.com/mapbox/earcut.hpp.git
[submodule "src/lib/sfsw"]
	path = src/lib/efsw
	url = https://github.com/SpartanJ/efsw.git
[submodule "src/lib/fcl"]
	path = src/lib/fcl
	url = https://github.com/bb1950328/fcl
[submodule "src/lib/unordered_dense"]
	path = src/lib/unordered_dense
	url = https://github.com/martinus/unordered_dense.git
[submodule "src/lib/ImGuiColorTextEdit"]
	path = src/lib/ImGuiColorTextEdit
	url = https://github.com/BalazsJako/ImGuiColorTextEdit.git
