[submodule "imgui"]
	path = src/lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "glfw"]
	path = src/lib/glfw
	url = https://github.com/glfw/glfw.git
[submodule "mingw-std-threads"]
	path = src/lib/mingw-std-threads
	url = https://github.com/meganz/mingw-std-threads
[submodule "SQLiteCpp"]
	path = src/lib/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "src/lib/IconFontCppHeaders"]
	path = src/lib/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "src/lib/Catch2"]
	path = src/lib/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
